.tile-stats {
	a {
		color: #fff !important;
		text-decoration: underline;
	}
}

.mail-select-options {
	.btn-sm {
		margin-top: -5px !important;
		margin-right: 5px !important;
	}
}

textarea {
	max-width: 100%;
}