<IfModule mod_rewrite.c>
  #AddDefaultCharset utf-8
  Options +FollowSymlinks
  #IndexIgnore */*
  RewriteEngine On
  # RewriteBase /

  # Make the backend accessible via url: http://localhost/eproc/backend.
  #RewriteRule ^backend backend.php

  # if a directory or a file exists, use it directly
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # otherwise forward it to index.php
  RewriteRule . index.php

  #RewriteCond $1 !^(index\.php|assets|images|css|robots\.txt)
  #RewriteRule ^(.+)$ index.php?$1 [PT,L,QSA]
</IfModule>